@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@600&family=Poppins:wght@300;400;500;600&display=swap');

/* Reset default margin, padding, and box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Styling for the entire page */
body {
    height: 100vh;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling for the main container */
.container {
    max-width: 650px;
    width: 100%;
    padding-bottom: 0px;
    background: #eaeef2;
    border: 1px solid #ccc;
}

/* Styling for the registration form header */
h1 {
    padding-top: 30px;
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

/* Styling for the description paragraph */
#description {
    text-align: center;
    font-size: 10px;
}

/* Styling for input fields and labels */
.input-field {
    padding: 5px 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
}

/* Styling for labels */
.label-titles {
    font-weight: bold;
}

/* Styling for the terms and conditions text */
.terms {
    text-align: center;
    font-size: 12px;
    padding-bottom: 10px;
}


.inputs {
    padding: 2px 0px
}

/* Styling for the login link at the bottom */
.form-link {
    text-align: center;
    font-size: 12px;
    padding: 5px;
    background-color: #000080;
    color: white;
    border-bottom: 1px solid #ccc;
}

/* Styling for the Register button */
#registerbtn {
    background-color: #1f883d;
    color: white;
    padding: 5px;
    border-radius: 6px;
}

/* Styling for the login link in the form */
.login-link {
    color: #96DED1;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        max-width: 100%;
        /* Full width for smaller screens */
    }

    .field.input-field {
        width: 100%;
        padding-bottom: 5px;
    }
}

/* Styling for the success message */
#success-message {
    padding: 50px;
    background-color: white;
    font-size: large;
    border-radius: 10px;
}

/* Styling for the password error message */
#passwordError {
    font-size: 13px;
    color: red;
    display: block;
    padding-left: 30px;
    font-weight: bold;
}